* {
    box-sizing: border-box;
}
html {
    font-size: 62,5%;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    background-image: url("img/table.png");
    background-repeat: no-repeat;
    background-size:cover;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
header {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    color:#fff;
    font-size: 1.2rem;
    height:10vh;
}
h2 {
    color:#fff;
    margin: 1vh 0 0;
    font-size:4vh;
}
h3 {
    color:#fff;
    margin:0;
    font-size:4vh;
}
button {
    cursor: pointer;
    background-color: #FFF100;
    font-size: 1.5rem;
    font-weight: bold;
    border:none;
    height:10vh;
    padding: 0 1em;
    transition: background-color 200ms;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.562);
}
button:hover {
    background-color: #fff877;
}
button:active {
    background-color: #ffdd00;
}
button:disabled {
    background-color: rgb(199, 199, 199);
    color:grey;
    cursor: default;
}
#new-deck {
    margin:0;
    margin-right:0.5em;
    border-bottom-right-radius: 10px;
}
#cards {
    height: 74vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#card-2 h3 {
    order:10;
}
.card-placeholder{
    border-radius:15px;
    width:20vh;
    height:28vh;
    background-color: rgba(255, 255, 255, 0.158);
    order:5;
}
.card-placeholder img {
    border-radius:15px;
    width:100%;
    height:100%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.562);
  }
#card-1 img {
    animation-name: card-1-slide;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
}
#card-2 img {
    animation-name: card-2-slide;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
}
@keyframes card-1-slide {
    0% {transform: translate(-40%,-300%) rotate(180deg);}
    100% {transform: translateY(0%) rotate(0deg);}
}
@keyframes card-2-slide {
    0% {transform: translate(40%,-300%) rotate(180deg);}
    100% {transform: translate(0%) rotate(0deg);}
}

#modal {
    font-size: 2rem;
    line-height: 1.6;
    text-align: center;
    padding:10px;
    max-width: 70vw;
    height: auto;
    margin: 30vh auto;
    border-radius:4px;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.84);
    background-color: rgb(245, 245, 245);
    color:#000;
    animation-name: modal-slide;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
}
@keyframes modal-slide {
    0% {transform: translateX(-300%);}
    100% {transform: translateX(0%);}
}

#overlay {
    background-color: rgba(2, 2, 2, 0.229);
    display:none;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:1000;
}
#modal-btn {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.321);
    border-radius: 10px;
    margin: 0;
    margin-bottom:1em;
}

/* ===============  START OF CONFETTI  ================== */

#confettis {
    display: none;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .confetti {
    left: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    transform-origin: left top;
    animation: confetti 5s ease-in-out -2s infinite;
  }
  @keyframes confetti {
    0% {
      transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
    }
    25% {
      transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
    }
    50% {
      transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
    }
    75% {
      transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
    }
    100% {
      transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
    }
  }

  .confetti:nth-child(1) {
    left: 10%;
    animation-delay: 0;
    background-color: #fc0120;
  }
  .confetti:nth-child(2) {
    left: 20%;
    animation-delay: -5s;
    background-color: #8257e6;
  }
  .confetti:nth-child(3) {
    left: 30%;
    animation-delay: -3s;
    background-color: #ffbf4d;
  }
  .confetti:nth-child(4) {
    left: 40%;
    animation-delay: -2.5s;
    background-color: #fe5d7a;
  }
  .confetti:nth-child(5) {
    left: 50%;
    animation-delay: -4s;
    background-color: #45ec9c;
  }
  .confetti:nth-child(6) {
    left: 60%;
    animation-delay: -6s;
    background-color: #f6e327;
  }
  .confetti:nth-child(7) {
    left: 70%;
    animation-delay: -1.5s;
    background-color: #f769ce;
  }
  .confetti:nth-child(8) {
    left: 80%;
    animation-delay: -2s;
    background-color: #007de7;
  }
  .confetti:nth-child(9) {
    left: 90%;
    animation-delay: -3.5s;
    background-color: #63b4fc;
  }
  .confetti:nth-child(10) {
    left: 100%;
    animation-delay: -2.5s;
    background-color: #f9c4ea;
  }

/* ===============  END OF CONFETTI  ================== */


@media (min-width:700px) {
    #modal {
        max-width: 40vw;
    }
    #new-deck {
        margin-right:2em;
    }
    #cards {
        height: 74vh;
        width: 70vw;
        margin:0 auto;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .card-placeholder{
        width:43.2vh;
        height:60vh;
    }
    h2 {
        margin: 1vh 0 0;
        font-size:4vh;
    }
    h3 {
        margin: 1vh 0;
        font-size:4vh;
    }
    #card-2 h3 {
        order:0;
    }
}